.App {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
        
}

.header {
  background: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
}

.left {
  height: 100vh;
  width: 20%;
  background: #282c34;
  font-size: calc(5px + 2vmin);
  color: white;
}

.right {
  height: 100vh;
  width: 80%;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

li:hover {
  background: #3f51b5;
  cursor: pointer;
}

label {
  font-weight: bold;
  display: block;
}

input {
  display: block;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  font-size: 15px;
}

button {
  width: 20%;
  height: 30px;
  font-size: 15px;
  background: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 3px solid #3f51b5;
  color: rgb(14, 14, 16);
  background: white;
  display: block;
  height: 36px;
  :hover {
    border-color: #ccc;
  }
  :focus {
    border-color: #9147ff;
    background: #fff;
  }
}

label{
  margin-bottom: 10px;
}

h3{
  margin: 0px;
}

form{
  padding: 0 50px;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
}